accelerate==0.23.0
clip @ git+https://github.com/openai/CLIP.git@a1d071733d7111c9c014f024669f959182114e33
diffusers==0.21.4
ftfy==6.1.1
numpy
pandas
scipy
safetensors==0.4.0
tokenizers==0.14.1
tqdm
torch==2.0.1
torchvision==0.15.2 
transformers==4.19.2
xformers==0.0.22.post4
tensorflow
scikit-learn
opencv-python
pillow
argparse
